{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<!-- Title block -->
<section class="bg-dark text-light text-center text-sm-start">
    <div class="container px-3 py-4">
        <div class="d-sm-flex justify-content-center">
            <div class="me-2">
                <h1 class="text-primary">Welcome to my experimental TI4 player dashboard!</h1>
                <p class=" my-3">Thank you for checking out my little project! The idea here is to provide a simple interface
                                to put in the background on a large TV or monitor so everyone can easily see which player is
                                active and which strategy cards haven't been used. I've also incorporated a simple calculator
                                for the agenda phase. Feel free to poke around!</p>
            </div>
            <img src="../static/titleblock.webp" alt="jolnar" class="img-fluid w-50 ms-4">
        </div>
    </div>
</section>

<!-- Cards for start new game, roadmap, and contact info -->
<section class="p-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md">
                <div class="card bg-primary text-light">
                    <div class="card-body text-center">
                        <h3 class="card-title text-dark mb-3">Features List</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Multiplayer game creation</li>
                            <li class="list-group-item">Current player indicator</li>
                            <li class="list-group-item">Speaker indicator</li>
                            <li class="list-group-item">Speaker change button</li>
                            <li class="list-group-item">Active/used strategy card indicator</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-primary text-light">
                    <div class="card-body text-center">
                        <h3 class="card-title text-dark mb-3">Create Game</h3>
                        <p class="card-text">
                        Use the link below to create a new game and give the application a shot!
                        </p>
                        <a href="{{ url_for('game.create_game')}}" class="btn btn-primary bg-dark"> Create Game!</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-primary text-light">
                    <div class="card-body text-center">
                        <h3 class="card-title text-dark mb-3">Give Feedback</h3>
                        <p class="card-text">
                        I'd love to get as much feedback as possible! If you can think of anything I can be going better, 
                        or any features you think would be nice to have, feel free to click the link below to see my contact info!
                        </p>
                        <a href="#" class="btn btn-primary bg-dark">Contact Me!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}